#container {
    border: 1px solid black;
    margin: 10px auto;
    width: fit-content;
    border-radius: 10px;
}

#field {
    /* fixed */
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
    background-image: url(src/img/woodwall.png);
    background-position: center;
    background-size: 100%;
    /* variable */
    height: 400px;
    width: 700px;
}

#control {
    /* border: 1px solid blue; */
    margin: 10px;
}

#ball {
    /* fixed */
    /* border: 1px solid green; */
    background-color: black;
    border-radius: 50%;
    position: relative;
    background-position: center;
    background-size: 100%;
    /* variable */
    height: 50px;
    width: 50px;
    background-image: url(image/ball.png.webp);
    /* transform: rotate(-20deg); */
    #control button {
        margin: 5px; /* เพิ่มระยะห่างระหว่างปุ่ม */
        gap: 5px;
    }
    
    
}
