.home-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1d3557;
  }
  
  .profile-header h2 {
    font-size: 1.5rem;
    color: #457b9d;
  }
  
  .profile-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .profile-picture {
    flex: 1;
    max-width: 30%;
  }
  
  .profile-picture img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #f1faee;
  }
  
  .profile-info {
    flex: 2;
    padding: 0 20px;
  }
  
  .about-me, .education, .hobbies {
    margin-bottom: 20px;
  }
  
  .about-me h3, .education h3, .hobbies h3, .contact-info h3 {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .about-me p, .education p, .contact-info p {
    font-size: 1rem;
    color: #457b9d;
    line-height: 1.6;
  }
  
  .hobbies ul {
    list-style: none;
    padding: 0;
  }
  
  .hobbies li {
    background-color: #ddfffa;
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    color: #1d3557;
  }
  
  .profile-contact {
    margin-top: 30px;
    background-color: #f7fdfd;
    padding: 20px;
    border-radius: 10px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .contact-info p:first-child {
    font-weight: bold;
    font-size: 1.1rem;
  }

  .home-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-image: url(src/assets/backgroundp.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 100vh; 
  }
  
  